@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  /* background-color: #20205B; */
  background-image: radial-gradient(#313185, #20205b);
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: #00b4d8 !important;
}

.bg-bluee{
  backdrop-filter: blur(40px) !important;
  background: linear-gradient(178.88deg, rgba(0, 0, 0, 0.4) -8.62%, rgba(0, 0, 0, 0.4) 125.23%) !important;
}

.border-15r{
  border-radius: 15px !important;
}

.border-top-15r{
  border-radius: 15px 15px 0px 0px !important;
}

.shadow-me{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.card{
  outline: 2px solid  #20215C;
  border: none;
}

.fw-500 {
  font-weight: 500;
}

.text-lightblue {
  color: #C7F6FF !important;
}

.text-mediumblue {
  color: #00add8 !important;
}

.text-lessblue {
  color: #90e0ef !important;
}

input, textarea{
  box-shadow: none !important;
  outline: none !important;
}

code {
  color: white;
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(78, 95, 184);
}

@media only screen and (max-width: 475px) {
  .me {
    height: 250px !important;
  }
}

@media only screen and (max-width: 375px) {
  .me {
    height: 200px !important;
  }
}

@media only screen and (max-width: 360px) {
  .me {
    height: 200px !important;
  }
}

