{% extends 'core/base.html' %}
{% block title %}Contact{% endblock title %}
{% block description_main %}If you have any questions about the source code of my projects or want to talk about anything else, please do so! I will respond as quickly as possible {% endblock description_main %}
{% block canonical %}contact{% endblock canonical %}

{% block title_og %}Contact{% endblock title_og %}
{% block description_og %}If you have any questions about the source code of my projects or want to talk about anything else, please do so! I will respond as quickly as possible {% endblock description_og %}
{% block title_tw %}Contact{% endblock title_tw %}
{% block description_tw %}If you have any questions about the source code of my projects or want to talk about anything else, please do so! I will respond as quickly as possible {% endblock description_tw %}
{% block content %}
{% load static %}
<style>label{color:#C7F6FF;}</style>
<div class="container d-flex min-vh-100 justify-content-center items-align-center">
    <div class="row align-items-center p-3">        
        <div class="col-lg-5 col-md-8 col bg-bluee border-15r shadow-me p-4 mx-auto">    
            {% if 'ok' in request.GET %}
                <p style="background-color: #90E0EF; color:#0077B6; padding: 8px; border:3px solid #0077B6; border-radius: 5px; text-align:center;font-weight:500;">
                    Your email is already sent! Thank you for contacting me, I will respond as quickly as possible.
                </p>
            {% endif %}
            <div class="text-center ">
                {% include 'core/navbar.html' %}
                <h1 class="text-lightblue">Contact</h1>
                <p class="text-mediumblue">If you have any questions about the source code of my projects or want to talk about anything else, please do so! I will respond as quickly as possible
            </div>
            <form  method='post'>{% csrf_token %}
                {{form.as_p}}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}